body {
  font-family: Arial, sans-serif;
}
h1 {
  color: #5a6275;
  font-size: 36px;
  font-weight: bold;
}
h2 {
  color: #5a6275;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
ul {
  list-style: none;
  color: #979eac;
  font-size: 16px;
  padding-top: 14px;
}
li:first-letter {
  text-transform: capitalize;
}
.container {
  display: block;
  max-width: 600px;
  padding: 20px;
}
.content {
  display: block;
  border: 2px solid #979eac;
  padding: 20px;
  max-width: 550px;
  margin: 30px auto 0px;
}
.search {
  display: block;
  font-size: 18px;
  background: #f1f1f1;
  border: 2px solid #528aae;
  padding: 0px;
  margin: -22px -22px auto;
}
.enter-city {
  display: inline-block;
  background: #f1f1f1;
  border: none;
  width: 100%;
  padding: 12px 20px;
}
.submit-city {
  display: block;
  border: none;
  padding: 12px 0px;
  margin: auto;
  transition: all 150ms ease-in-out;
}
.cities {
  display: block;
  color: #000000;
  text-align: center;
  font-size: 18px;
  padding-top: 12px;
}
.information {
  padding: 0px 10px 10px;
}
.current-weather {
  padding: 10px 0px 15px;
}
.current-weather-icon {
  text-align: center;
  font-size: 80px;
}
.current-weather-temperature {
  text-align: left;
  font-weight: bold;
  line-height: normal;
  padding-top: 12px;
}
.temperature-day {
  font-size: 44px;
}
.temperature-information {
  text-align: left;
  padding-left: 15px;
}
.temperature-units {
  position: relative;
  top: -20px;
}
.city-link,
.unit-link {
  text-decoration: none;
  color: #000000;
  cursor: default;
}
.forecast-day,
.forecast-icon {
  text-align: center;
}
.forecast-day {
  color: #5a6275;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0px;
}
.forecast-icon {
  font-size: 30px;
  padding: 0px;
}
.forecast-temperature {
  text-align: left;
}
.source {
  display: block;
  text-align: center;
  margin: auto;
}
.link {
  cursor: default;
}
